.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;

}

.subtitle {
  font-size: 25px;
  border: 3px solid rgb(123, 98, 155);
  box-shadow: 4px 4px 2px rgb(68, 16, 110);
  padding: 5px 10px;
  color: rgb(71, 31, 145);
  font-weight: bolder;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(243, 236, 255);
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px;
  color: rgb(96, 49, 158);
  font-weight: bolder;
  margin-top: 10px;
  font-size: 20px;
  
}
