.content {
  display: flex;
  justify-content: space-around;
  background-color: rgb(243, 236, 255);
  border-radius: 30px;
}

.settings {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  
  color: rgb(104, 46, 170);
  
 
  
}

.banner {
  width: 55%;
  align-self: center;
  padding: 8px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
    
  }
  .banner {
    width: 50%;
    height: 1vh;
    padding: 0;
    padding-top: 20px;
  }
  .settings {
    width: 100%;
  }
}

.settings__select {
 
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
  font-weight: bolder;
}
