.settings{
    display: flex;
}
.settingsWrapper{
    flex:9;
    padding:20px;
    

    
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdateTitle{
    font-size: 27px;
    margin-bottom: 20px;
    color: lightcoral;

}

.settingsDeleteTitle{
    color: crimson;
    font-size: 15px;
    cursor: pointer;

}
.settingsForm{
    display: flex;
   flex-direction: column;
}
.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.settingsPP>img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingsForm>input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color:white;
    background-color: rgb(3, 180, 97);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}