.sidebar{
   flex:1;
   margin: 10px;
   padding-bottom:20px ; 
   background-color: rgb(224, 242, 250);
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   height: 400px;
   
}
.sidebarItem{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.sidebarTitle{
   margin: 10px;
   padding: 5px;
   width:80%;
   border-top: 1px solid rgb(52, 55, 71);
     
   border-bottom: 1px solid rgb(52, 55, 71);
   
   font-family: 'Dongle', sans-serif;
   font-size: 22px;
   color: #222;
   font-weight: 600;
   line-height: 20px;
   text-align: center;

}


.sidebarItem >img{
      margin-top: 15px;
}
.sidebarItem > p {
   padding: 30px;
}
.sidebarList{
  list-style: none;
   margin-bottom: 10px;
   
}

/* .sidebarListItem{

   font-size: 10px;
   font-family: cursive;
   cursor: pointer;
   
} */

.sidebarIcon

{
   font-size: 18px;
   margin-left: 8px;
   color: rgb(48, 47, 47);
   cursor: pointer;
}

.sidebarSocial{
   margin-top: 15px;
   width:250px;
   display: flex;
   justify-content: center;
}
